.Notifications{
    border: 0.2rem dashed red;
    padding: 1.2em 0;
    font-size: 1.3em;
    margin-bottom: 3rem;
}

ul{
    margin-left: 3rem;
}

li:nth-child(1){
    color: blue;
}

li:nth-child(2), li:nth-child(3){
    color: rgb(211, 59, 59);
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.top button{
    border-style: none;
}