*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.App {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
}

h1 {
  align-self: center;
  color: rgb(211, 59, 59);
  font-size: 2.7rem;
}

hr {
  height: 0.3rem;
  background-color: rgb(211, 59, 59);
}

.App-logo {
  height: 35vmin;
}

.App-body {
  margin-top: 3rem;
  margin-left: 3rem;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.App-footer p{
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
}